@include media-lg {
    .menu-btn {
        visibility: hidden;
    }
    .nav {
        visibility: visible;

        .menu-nav {
            padding: 18px 0;
            height: 10vh;
            display: block;
            background: transparent;
            text-align: center;
            transform: translateY(0);
            background: linear-gradient(
                to bottom, rgba($color-one, 0.9),
                rgba($color-one, 0.6));
    
            &__item {
                display: inline;
                margin: 0px 10px;
                font-size: 1.5rem;
            }

            &__link {
                margin: 10px 0;
                font-size: 1.5rem;
            }
        }
    }
}


@include media-s {
    .about {
        .button {
            width: 80vw;
            height: 12vh;

            & a {
                width: 80vw;
            }
        }
    }
    .home {
        .button {
            width: 60vw;
        }
    }
}
